{% extends 'base.html' %}

{% block title %}
{{ person.firstName }} {{ person.lastName }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ person.firstName }} {{ person.lastName }}</h1>

        <div class="alert alert-info">
            <p>{{ person.bio }}</p>
            <p>{{ person.position }}</p>
            <p>{{ person.responsibilities }}</p>
            <p>{{ person.orders }}</p>
            <p><b>Дата: {{ person.date.date() }}</b></p>
            <a href="/persons/{{ person.id }}/del" class="btn btn-danger">Видалити</a>
            <a href="/persons/{{ person.id }}/update" class="btn btn-success">Редагувати</a>
        </div>
    </div>
{% endblock %}